<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Nueva Pregunta y Respuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="PreguntaRespuestaForm">
        <ion-item>
            <ion-label position="floating">Pregunta</ion-label>
            <ion-input type="text" formControlName="pregunta"></ion-input>

            <ion-label position="floating">Respuesta</ion-label>
            <ion-input type="text" formControlName="respuesta"></ion-input>
        </ion-item>
        
        <ion-button shape="round" color="primary" expand="block" [disabled]="!PreguntaRespuestaForm.valid" (click)="createPyR()">Guardar</ion-button>
    </form>
</ion-content>