<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Preguntas y Respuestas
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/create">
                <ion-icon name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let cr of preguntasRespuestas" (click)="showDetail(cr.idpyr)">
            <ion-icon name="desktop" slot="start"></ion-icon>
            Pregunta {{cr.idpyr}}
            <div class="item-note" slot="end">
                Detalles
            </div>
        </ion-item>
    </ion-list>
</ion-content>