<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalles Pregunta y Respuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Pregunta {{preguntaRespuesta.idpyr}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-card-subtitle></ion-card-subtitle>
            <ul>
                <li>{{preguntaRespuesta.pregunta}}</li>
                <li>{{preguntaRespuesta.respuesta}}</li>
            </ul>
            <ion-buttons slot="primary">
                <ion-button (click)="edit(preguntaRespuesta.idpyr)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="delete(preguntaRespuesta.idpyr)">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-card-content>
    </ion-card>
</ion-content>